/* banner */
.banner {
    background: url(../Img/about-banner.jpg), #D3CFC6;
    background-position: center;
    color: white;
    text-align: center;
    background-size: cover;

}

@media screen and (min-width:867px) {
    .banner {
        background-attachment: fixed;
    }
}

.banner .title {
    background: linear-gradient(180deg, rgba(51, 51, 51, 1) 0%, rgba(245, 166, 34, 0.3) 100%);
}

/* section_01 */
.section_01 {
    background-color: white;
}

.section_01 img {
    min-width: 1000px;
    width: 100%;
}

/* section_02 */
.section_02 {
    background-color: #7F786C;
}

.section_02 .bg {
    background: linear-gradient(90deg, rgba(54, 39, 11, 0.52) 0%, #64574A 100%), url(../Img/about-section02.jpg), #D3CFC6;
    background-size: cover;
    background-position: center;
}

.section_02 .text {
    background: linear-gradient(90deg, #64574A 30%, #7F786C 100%);
}

/* Top-Down Background gradient in small screen */
@media screen and (max-width: 768px) {
    .section_02 .bg {
        background: linear-gradient(180deg, rgba(54, 39, 11, 0.52) 0%, #64574A 100%), url(../Img/about-section02.jpg), #D3CFC6;
        background-size: cover;
        background-position: center;
        padding-top: 100px;
    }

    .section_02 .text {
        background: linear-gradient(180deg, #64574A 30%, #7F786C 100%);
        padding-bottom: 50px;
    }
}

.section_02 img {
    width: 200px;
    margin: auto;
}

.section_02 h2,
.section_02 p,
.section_02 a {
    color: white;
}

.section_02 a {
    border: 1px solid white;
}

.section_02 a:hover {
    background-color: white;
    color: #705A45;
    text-decoration: none;
}

/* section_03 */
.section_03 {
    background-color: #fff;
}

.section_03 .bg {
    background: linear-gradient(90deg, #F2F1ED 0%, rgba(236, 236, 236, 0.00) 100%), url(../Img/about-section03.jpg), #D3CFC6;
    background-size: cover;
    background-position: center;
}

.section_03 .text {
    background-image: linear-gradient(90deg, #FFFFFF 0%, #F2F1ED 80%);
}

/* Top-Down Background gradient in small screen */
@media screen and (max-width: 768px) {
    .section_03 .bg {
        background: linear-gradient(180deg, #F2F1ED 0%, rgba(236, 236, 236, 0.00) 100%), url(../Img/about-section03.jpg), #D3CFC6;
        background-size: cover;
        background-position: center;
    }

    .section_03 .text {
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F1ED 80%);
    }
}

.section_03 a {
    border: 1px solid #705A45;
}

.section_03 a:hover {
    background-color: #705A45;
    color: white;
    text-decoration: none;
}

/* section_04 */
.section_04 .text {
    max-width: 500px;
}

.section_04 {
    background: linear-gradient(90deg, #E9E8E5 0%, #CBC8C2 95%);
}

.section_04 img {
    width: 100%;
    max-width: 900px;
}

/* Top-Down Background gradient in small screen */
@media screen and (max-width: 768px) {
    .section_04 .bg {
        padding-top: 100px;
    }

}
