footer{
    width: auto;
}


footer span {
    padding: 0px 0px;
}
#footerbox,#footerbox ul{
	font-family: 微軟正黑體;
	font-weight: 600;
	list-style: none;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #cccccc;
	font-size: 14px;
	}
#footerbox *{
	box-sizing: border-box;
	}
#footerbox a{
	display: inline-block;
	vertical-align: middle;
}
#footerbox a:hover{ border-bottom-width:0;}
#footerbox .copyright{
	width:100%;
	background: #454545;
	text-align: center;
	padding: 0px 0px;
/*	box-shadow: 0 10px 10px -8px #000000 inset;*/
	}
#footerbox .copyright>li{
	display: inline-block;
	vertical-align:middle;
	padding: 5px;
	}
#footerbox .copyright .logo{
	width: 120px;
	float: none;
	}
#footerbox .copyright .logo img{
	width: 100%;
	}

#footerbox .copyright .txt{
	text-align: left;
	margin-top: 18px;
	width: calc(1000px - 265px);
    color: #fff;
	}
@media screen and (max-width:780px){
	#footerbox .copyright .txt{
		width:100%;
		text-align: center;
		}
	}
#footerbox .copyright .txt span{
	display: block;
	}
#footerbox .copyright .txt span,
#footerbox .copyright .txt span a{
	color: #0CACB8;
	}
#footerbox .copyright .certification{
	font-size: 12px;
	}
#footerbox .copyright .certification span{
	text-align: center;
	display: inline-block;
	}
#footerbox .copyright .certification span img{
	display: block;
	margin: 5px auto;
	height: 70px;
	}
#footerbox .logo_list{
/*	padding: 20px 0;*/
    padding-bottom: 20px;
    padding-top: 0px;
	background: #222222;
	text-align: center;
	}

#footerbox .logo_list .brands_title{
    
    display: inline-flex;
    padding: 0px 90px; 
    margin-bottom: -10px;
}
#footerbox .logo_list .brands_title .brands{
    font-size: 12pt;
   text-align: left;
    white-space:nowrap;
        padding: 0px 5px;
}
#footerbox .logo_list .brands_title .company{
    white-space:nowrap;
     font-size: 12pt;
    text-align: right; 
    padding: 0px 5px;
}
@media screen and (max-width:780px){
    #footerbox .logo_list .brands_title{
       padding: 0px 0px; 
    }
	#footerbox .logo_list .brands_title .company,
    #footerbox .logo_list .brands_title .brands
    {
		 font-size:10pt !important;
            padding: 0px 10px;
	}
    
}
#footerbox .logo_list>li{
	display: inline-block;
	vertical-align:bottom;
	padding: 5px 10px;
	}
#footerbox .logo_list h3{
	text-align: left;
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
	}
@media screen and (max-width:780px){
	#footerbox .logo_list h3{
		text-align: center;
		margin-bottom: 13px;
		}
	}

#footerbox .logo_list .brands a{
	margin: 2px 5px;
	}

#footerbox .logo_list .company a{
	margin: 15px 5px;
	}
#footerbox .logo_list img{
	width:auto;
	height: 35px;
	}
#footerbox .logo_list .brands{
	width: calc(1066px - 265px);
	/* max-width: 750px; */
	}
#footerbox .logo_list .brands_logo_bg{
    background-image: url('https://www.freeliving.com.tw/must/images/logo/footer_logo_all.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height:  135px;
	}
#footerbox .logo_list .brands_logo{
/*
    background-color: rgba(255,0,0,0.3);
    border: 1px solid #ff0000;
*/
    height: 54px;
    width: 100px;
    
}

@media screen and (max-width:1024px){
	#footerbox .logo_list .brands{
		width:100%;
		}
	}

#footerbox .logo_list .brands .Global_gray{
	height: 82px;
	}
#footerbox .logo_list .brands .ufirstc_gold{
	height: 54px;
	}
#footerbox .logo_list .brands .GlobalVIP_gray{
	height: 82px;
	}
#footerbox .logo_list .brands .freeliving_gray{
	height: 24px;
	}
#footerbox .logo_list .brands .TraceMe_gray{
	height: 25px;
	}
#footerbox .logo_list .brands a.SmartTicket_gray{
	margin: 10px;
	}
#footerbox .logo_list .brands .SmartTicket_gray{
	height: 47px;
	}
#footerbox .logo_list .brands .dragonpass_gray{
	height: 28px;
	}

/*上下排隊齊*/
#footerbox .logo_list .brands .freeliving_gray,
#footerbox .logo_list .brands .freelivingmovie_gray,
#footerbox .logo_list .brands .morepets_gray,
#footerbox .logo_list .brands .SmartTicket_gray,
#footerbox .logo_list .brands .dragonpass_gray{
 margin: 0px 8px;
}



#footerbox .logo_list .company{
    display: inline;
	width:265px;
	}

@media screen and (max-width:1024px){
	#footerbox .logo_list .company{
		width:100%;
		}
	}
#footerbox .logo_list .company a{
    padding-bottom: 30px;
}
#footerbox .logo_list .company .heycar_gray{
	height: 39px;
    
	}
#footerbox .logo_list .company .lifestyle_gray{
		height: 45px;
    
	}


.BankDeclaration{
	display: inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background:#E6E4E5;
	color:#000000;
	padding: 10px;
	box-shadow:0 0 12px #333333;
}
.BankDeclaration h3{
	width:250px;
	text-align:center;
	border:1px solid #333333;
	padding:10px 15px;
	font-size:25px;
	margin: 0 10px;
}
.BankDeclaration .footer_list{
	width: calc(870px - 250px);
	text-align:left;
	padding:0 10px;
	list-style: disc;
}
.BankDeclaration .footer_list li{
	display: inline-block;
	vertical-align:middle;
	margin: 4px;
	line-height: 120%;
	}
.BankDeclaration .footer_list li::before{
	content:'．';
}
/*謹慎理財  信用無價*/
.BankDeclaration a{
	border-bottom:1px solid #333333;
	color: #000000;
	text-decoration: none;
}

.index_interest_rate{
	background:#cccccc;
	text-align:center;
	font-size:15;
	font-weight:500;
	color:#676666;
	padding:10px 15px;
/*	box-shadow:0 0 12px #636363;*/
	}
.index_interest_rate h3,
.index_interest_rate span{
	display:inline-block;
	word-spacing: normal;
	vertical-align: middle;
	*display:inline;
	*zoom:1;
	margin:5px;
	}
.index_interest_rate h3{
	border:1px solid #676666;
	padding:10px 15px;
	display:inline-block;
	font-size:25px;
	}