img.core-value-icon {
    height: 153px;
    width: 153px;
}

/* banner */
.banner {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0) 30%, rgba(0, 0, 0, 0.70) 100%), url(../Img/index-bannerbg.jpg), #D3CFC6;
    background-position: center top;
    background-size: cover;
}

.banner .title div {
    margin-left: 60%;
}

@media screen and (max-width: 768px) {
    .banner .title div {
        margin-left: 40%;
    }
}

/* section_01 */
.section_01 {
    background-color: #D3CFC6;
}

.section_01 .bg {
    background: rgb(211, 207, 198);
    background: linear-gradient(90deg, rgba(211, 207, 198, 0) 0%, rgba(211, 207, 198, 1) 100%), url(../Img/index-section01.jpg), #D3CFC6;
    background-size: cover;
    background-position: right;
}

/* Top-Down Background gradient in small screen */
@media screen and (max-width: 768px) {
    .section_01 .bg {
        background: rgb(211, 207, 198);
        background: linear-gradient(180deg, rgba(211, 207, 198, 0) 0%, rgba(211, 207, 198, 1) 100%), url(../Img/index-section01.jpg), #D3CFC6;
        background-size: cover;
        background-position: center;
    }
}

.section_01 h3 {
    letter-spacing: 10;

}

/* section_02 */

.section_02 {
    background: #ECECEC;
}

.section_02 .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_02 .container .deco-border {
    border: 26px solid;
    border-image: url(../Img/index-section01-deco.png) 25 stretch;
}

.section_02 h2 {
    text-align: center;
}

.section_02 .col-md-4,
.section_02 .col-sm-6 {
    align-self: center;
}

.section_02 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.section_02 a p {
    text-align: center;
    color: #705A45;
    font-size: 22px;
}

.section_02 p {
    color: #705A45;
}

/* section 03 */
.section_03 {
    background-color: #FFFFFF;
}

.section_03 .bg {
    background: rgb(211, 207, 198);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%), url(../Img/index-section03.jpg), #D3CFC6;
    background-size: cover;
    background-position: 90%;
}

/* Top-Down Background gradient in small screen */
@media screen and (max-width: 768px) {
    .section_03 .bg {
        background: rgb(211, 207, 198);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%), url(../Img/index-section03.jpg), #D3CFC6;
        background-size: cover;
        background-position: center 30%;
    }
}

@media screen and (max-width: 300px) {
    .section_03 .d-flex {
        flex-wrap: wrap;
    }
}

.section_03 hr {
    width: 74px;
    border: 0.5px #705A45 solid;
}

.section_03 .d-flex > div > * {
    margin-top: 20px;
}

.section_03 .spirit {
    display: inline-block;
    width: 178px;
    max-width: 100%;
    height: 43px;
    background: url(../Img/index-section03-textbg.png);
    padding-left: 50px;
    padding-top: 10px;
    margin-left: 20px;
}

.section_03 .spirit p {
    font-size: 14px;
}
