* {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 2;
  transition: 0.2s ease-in-out;
}

h1,
h1>* {
  font-size: 64px;
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.h1--small {
  font-size: 32px;
}

h2,
h2>* {
  font-size: 32px;
  line-height: 46px;
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.h2--no-spacing {
  letter-spacing: 0rem;
}

.serif,
.serif>* {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

a.link--text {
  font-weight: 500;
  opacity: 0.3;
  color: #000;
}

a.link--text:hover {
  text-decoration: underline;
  opacity: 1;
}

button,
a.link--button {
  border: black solid 1px;
  color: #000;
  background-color: transparent;
  padding: 0.3rem 3rem;
  text-align: center;
  font-weight: 300;
}

button:hover,
a.link--button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.text--grey {
  opacity: 0.4;
}

.navbar {
  padding-top: 2rem;
}

.navbar-brand {
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.nav-item {
  padding-left: 1rem;
  text-align: left;
}

.dropdown-item {
  text-align: center;
}

.header-padding {
  padding-top: 99px;
}

.header--shadow {
  box-shadow: #00000011 0px 2px;
}

.header--shadow .navbar {
  padding-top: 0rem;
}

.navbar-light.bg-light {
  background-color: #fff !important;
}

.contact--float {
  position: fixed;
  right: 10%;
  bottom: 2rem;
  height: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff00;
  padding: 4px;
  border-radius: 100px;
}

.contact--float a {
  opacity: 0.3;
  transition: 0.2s ease-in-out;
}

.contact--float a:hover {
  opacity: 1;
}

footer {
  background-color: #f9f9f9;
  min-height: 10rem;
  margin-top: 7rem;
  padding: 2rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact a {
  margin-right: 3rem;
  margin-bottom: 1em;
}

.contact a:last-child {
  margin-right: 0;
}

.contact__icon {
  height: 28px;
  width: 28px;
  display: inline-block;
}

footer .phone img,
footer .mail img {
  margin-right: 2rem;
}

a.phone,
a.mail {
  color: #000;
}

.copyright {
  margin-top: 1em;
  text-align: center;
}

.scrollable-parent {
  max-width: 100%;
}

.scrollable {
  overflow-x: auto;
}

.scrollable ::-webkit-scrollbar {
  display: none;
}

/* index */

.index {
  text-align: center;
}

.index .description {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.index .skill {
  height: 360px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.index .intro {
  margin-top: 6rem;
}

.skill .button,
.skill .link--button {
  margin: auto auto 0 auto;
}

.skill1--bg {
  background-image: url(../img/index-skill1-bg.svg);
}

.skill2--bg {
  background-image: url(../img/index-skill2-bg.svg);
}

.skill3--bg {
  background-image: url(../img/index-skill3-bg.svg);
}

@media (min-width: 768px) {
  .index .skill {}
}

/* about */

.section-01,
.section-02,
.section-03 {
  margin-top: 6rem;
}

.about .photo img {
  width: 100%;
  box-shadow: #edf3f5 2rem 2rem;
}

.experience ul {
  display: block;
  margin-left: 2rem;
  box-shadow: #edf3f5 1rem -1rem 0 1rem;
  background-color: #edf3f5;
  padding-bottom: 1rem;
  list-style: none;
}

.experience li {
  margin-bottom: 1rem;
}

.experience .col-lg-5 {
  padding-right: 2rem;
}

.about .date,
.plans__name,
.plans__date {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.experience .date {
  font-style: italic;
}

.experience .desc {
  margin-top: -0.5rem;
}

.section-03 {
  background-color: #edf3f5;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-03 h2 {
  margin-top: -3rem;
}

.section-03 .row {
  margin-top: 3rem;
}

.section-03 .col-md-6 {
  margin-bottom: 2rem;
}

.section-03 .card {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0px;
  border-radius: 0px;
}

.section-03 .card .plans__name {
  margin-bottom: 0;
}

.card .button {
  margin: auto auto 0 auto;
}

.section-04 {
  margin-top: 2rem;
}

.arrow-bg {
  background-image: url(../img/about-download-arrow.svg);
  height: 130px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
}

.download .link--button {
  margin: auto auto 0 auto;
  display: block;
  border-radius: 100px;
}

/* work */
.work-list {
  list-style: none;
  padding: 0px;
}

.work-item .work-item__text {
  flex-direction: column;
  justify-content: flex-end;
}

.work-item {
  padding: 3rem 0 3rem 0;
}

@media (min-width: 768px) {
  .work-item .scrollable-parent {
    width: 95%;
  }
}

.work-item__media .mockup--phone {
  background-color: #000;
  border-radius: 30px 30px 0 0;
  padding: 40px 10px 0px 10px;
  margin: 1rem 2rem 0 2rem;
  -webkit-filter: drop-shadow(12px 12px 20px #00000022);
}

.work-item__media .mockup--phone img {
  height: 400px;
  width: 225px;
  object-position: 0% 0%;
  object-fit: cover;
}

.work-item__media .mockup--web {
  background: url("../img/mac-mockup.svg");
  border-radius: 10px 10px 0 0;
  padding: 40px 5px 0px 5px;
  margin: 1rem 2rem 0 2rem;
  -webkit-filter: drop-shadow(12px 12px 20px #00000022);
}

.work-item__media .mockup--web img {
  height: 400px;
  width: 540px;
  object-position: 0% 0%;
  object-fit: cover;
}

.work-item__info {
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.work-item__info>* {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.work-item__title {
  margin-right: 1rem;
}

.work-item__tool {
  margin-bottom: 1rem;
}

.tool-list {
  list-style: none;
  padding: 0;
}

.action-buttons {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.work-item .link--button {
  width: 100%;
  margin-left: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.work-item .link--button:first-child {
  margin-left: 0;
}

.ani-works .section-01,
.ui-works .section-01 {
  padding-bottom: 6rem;
}

.ani-works .section-01 .title,
.ui-works .section-01 .title {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.ui-works .section-01 .skill1--bg {
  background-image: url(../img/ui-title-bg.svg);
  background-size: contain;
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.ani-works h1,
.ui-works h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3em;
}

.ani-works .text,
.ui-works .text {
  margin-top: 4rem;
}

.tools {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.section-01 p {
  margin-bottom: 0;
}

.ani-works .section-01 .td--bg {
  background-image: url(../img/3d-title-bg.svg);
  background-size: contain;
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.ani-works .rendered img {
  width: 100%;
}

.ani-works .rendered {
  padding-bottom: 30px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ani-works .embed-video {
  width: 100%;
  height: 100%;
}