* {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 2;
}
h1,
h1 > * {
  font-size: 64px;
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.h1--small {
  font-size: 32px;
}

h2,
h2 > * {
  font-size: 32px;
  line-height: 46px;
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.h2--no-spacing {
  letter-spacing: 0rem;
}
a.link--text {
  font-weight: 500;
  opacity: 0.3;
  color: #000;
}
a.link--text:hover {
  text-decoration: underline;
  opacity: 1;
}

button,
a.link--button {
  border: black solid 1px;
  color: #000;
  background-color: transparent;
  padding: 0.3rem 3rem;
  text-align: center;
  font-weight: 300;
}

button:hover,
a.link--button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.text--grey {
  opacity: 0.3;
}
.navbar {
  padding-top: 2rem;
}

.navbar-brand {
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.nav-item {
  padding-left: 1rem;
  text-align: left;
}

.dropdown-item {
  text-align: center;
}

.header-padding {
  padding-top: 99px;
}

.header--shadow {
  box-shadow: #00000011 0px 2px;
}

.navbar-light.bg-light {
  background-color: #fff !important;
}

.contact--float {
  position: fixed;
  right: 10%;
  bottom: 2rem;
  height: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff00;
  padding: 4px;
  border-radius: 100px;
}

.contact--float a {
  opacity: 0.3;
  transition: 0.2s ease-in-out;
}
.contact--float a:hover {
  opacity: 1;
}

footer {
  background-color: #f9f9f9;
  min-height: 10rem;
  margin-top: 7rem;
  padding: 2rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact a {
  margin-right: 3rem;
  margin-bottom: 1em;
}

.contact a:last-child {
  margin-right: 0;
}

.contact__icon {
  height: 28px;
  width: 28px;
  display: inline-block;
}

footer .phone img,
footer .mail img {
  margin-right: 2rem;
}

a.phone,
a.mail {
  color: #000;
}
.copyright {
  margin-top: 1em;
  text-align: center;
}

/* index */

.index {
  text-align: center;
}
.index .description {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.index .skill {
  height: 360px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.index .intro {
  margin-top: 6rem;
}
.skill .button,
.skill .link--button {
  margin: auto auto 0 auto;
}
.skill1--bg {
  background-image: url(../img/index-skill1-bg.jpg);
}
.skill2--bg {
  background-image: url(../img/index-skill2-bg.jpg);
}
.skill3--bg {
  background-image: url(../img/index-skill3-bg.jpg);
}

@media (min-width: 768px) {
  .index .skill {
  }
}

/* about */

.section-01,
.section-02,
.section-03 {
  margin-top: 6rem;
}
.about .photo img {
  width: 100%;
  box-shadow: #edf3f5 2rem 2rem;
}

.experience ul {
  display: block;
  margin-left: 2rem;
  box-shadow: #edf3f5 1rem -1rem 0 1rem;
  background-color: #edf3f5;
  padding-bottom: 1rem;
  list-style: none;
}
.experience li {
  margin-bottom: 1rem;
}

.experience .col-lg-5 {
  padding-right: 2rem;
}
.about .date,
.plans__name,
.plans__date {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}
.experience .date {
  font-style: italic;
}

.experience .desc {
  margin-top: -0.5rem;
}
.section-03 {
  background-color: #edf3f5;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-03 h2 {
  margin-top: -3rem;
}
.section-03 .row {
  margin-top: 3rem;
}
.section-03 .col-md-6 {
  margin-bottom: 2rem;
}

.section-03 .card {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0px;
  border-radius: 0px;
}

.section-03 .card .plans__name {
  margin-bottom: 0;
}

.card .button {
  margin: auto auto 0 auto;
}
.section-04 {
  margin-top: 2rem;
}
.arrow-bg {
  background-image: url(../img/about-download-arrow.svg);
  height: 130px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
}

.download .link--button {
  margin: auto auto 0 auto;
  display: block;
  border-radius: 100px;
}

/* work */
.work-list {
  list-style: none;
  padding: 0px;
}

.work-item .col-md-5 {
  flex-direction: column;
  justify-content: flex-end;
}

.work-item__media {
}

.work-item__media img {
  width: 100%;
}

.work-item__info {
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.work-item__info > * {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
}

.work-item__title {
  margin-right: 1rem;
}
.work-item__tool {
  margin-bottom: 1rem;
}
.tool-list {
  list-style: none;
  padding: 0;
}
.action-buttons {
  justify-content: space-between;
  margin-bottom: 2rem;
}
.work-item .link--button {
  width: 100%;
  margin-left: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.work-item .link--button:first-child {
  margin-left: 0;
}

.work-item--bg-01 {
  background-color: #fff;
}

.work-item--bg-02 {
  background-color: #e9e7e2;
}
